.main {
  border: 1px solid black;
  padding: 5px;
}

#parent {
  border: 1px solid red;
  width: 70%;
  margin: auto;
  height: 400px;
  display: flex;
}
.child {
  width: 100px;
  height: 50px;
  border: 1px solid green;
}

.parent2 {
  flex-direction: column;
}
.parent3 {
  flex-direction: row-reverse;
}
.parent4 {
  flex-direction: column-reverse;
}
