.main {
  border: 1px solid black;
  padding: 10px;
}

.first {
  border: 1px solid red;
  width: 300px;
  height: 100px;
  transition-duration: 2s;
}

.first:hover {
  background-color: red;
  transition-property: background-color;
}

.second {
  border: 1px solid red;
  color: red;
  width: 300px;
  height: 100px;
  transition-duration: 2s;
}

.second:hover {
  background-color: red;
  color: white;
}

.third {
  border: 1px solid red;
  width: 300px;
  height: 50px;
  transition-duration: 1s;
}

.third:hover {
  width: 100%;
}

.fourth {
  border: 1px solid red;
  color: red;
  width: 300px;
  height: 50px;
  transition-duration: 1s;
}

.fourth:hover {
  font-size: 25px;
  width: 100%;
}

.fifth {
  position: relative;
  border: 1px solid red;
  width: 300px;
  height: 50px;
  left: 0;
  transition-duration: 2s;
}

.fifth:hover {
  left: 100px;
  width: 800px;
}

.second-1 {
  border: 1px solid red;
  width: 300px;
  height: 50px;
  transition-duration: 2s;
  transition-delay: 2s;
}

.second-1:hover {
  width: 100%;
}

.third-1 {
  width: 400px;
  height: 30px;
  transition-duration: 1s;
}

.third-1:focus {
  width: 800px;
}

.block-1 {
  border: 1px solid red;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
}

.block-2 {
  border: 1px solid red;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  transition-duration: 2s;
}

.block-1:hover + div {
  width: 800px;
}

.block-3 {
  border: 1px solid red;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  transition-duration: 2s;
}

.block-2:hover + div {
  width: 800px;
}

.block-4 {
  border: 1px solid red;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  transition-duration: 2s;
}

.block-3:hover + div {
  width: 800px;
}

.block-5 {
  border: 1px solid red;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  transition-duration: 2s;
}

.block-4:hover + div {
  width: 800px;
}

.block-6 {
  border: 1px solid red;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  transition-duration: 2s;
}

.block-5:hover + div {
  width: 800px;
}

.block-7 {
  border: 1px solid red;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  transition-duration: 2s;
}

.block-6:hover + div {
  width: 800px;
}

.block-8 {
  border: 1px solid red;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  transition-duration: 2s;
}

.block-9 {
  position: relative;
  left: -10px;
  border: 1px solid red;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  transition-duration: 2s;
}

.fin {
  border: 1px solid red;
  width: 100%;
  height: 30px;
  padding: 5px;
  line-height: 30px;
  margin-bottom: 10px;
}

.hint {
  position: relative;
  left: -400px;
  width: 300px;
  height: 50px;
  color: white;
  background-color: tomato;
  text-align: center;
  line-height: 50px;
  transition: all 1s;
}

.fin:hover + div {
  left: 500px;
}
